/* 灵活的button样式 */

button {
  padding: .3em .8em;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .2em;
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5;
  outline: none;
}

button:hover {
  background: #58a linear-gradient(hsla(0,0%,100%,.4),
                                   hsla(0,0%,100%,.2));
}

button.cancel {
  background-color: #c00;
}

button.ok {
  background-color: #6b0;
}
